@font-face {
    font-family: 'notoSansKR';
    src: url('../fonts/NotoKR-Bold/notokr-bold.eot'),
    url('../fonts/NotoKR-Bold/notokr-bold.woff2') format('woff2'),
    url('../fonts/NotoKR-Bold/notokr-bold.woff') format('woff'),
    url('../fonts/NotoKR-Bold/notokr-bold.ttf') format('truetype'),
    url('../fonts/NotoKR-Bold/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'notoSansKR';
    src: url('../fonts/NotoKR-Medium/notokr-medium.eot'),
    url('../fonts/NotoKR-Medium/notokr-medium.woff2') format('woff2'),
    url('../fonts/NotoKR-Medium/notokr-medium.woff') format('woff'),
    url('../fonts/NotoKR-Medium/notokr-medium.ttf') format('truetype'),
    url('../fonts/NotoKR-Medium/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face { 
	font-family: 'notoSansKR';
	src: url('../fonts/NotoKR-Regular/notokr-regular.eot'),
	url('../fonts/NotoKR-Regular/notokr-regular.woff2') format('woff2'), 
	url('../fonts/NotoKR-Regular/notokr-regular.woff') format('woff'), 
	url('../fonts/NotoKR-Regular/notokr-regular.ttf') format('truetype'), 
	url('../fonts/NotoKR-Regular/notokr-regular.svg#notokr-regular') format('svg'); 
	font-weight: 300; 
	font-style: normal; 
}

@font-face { 
	font-family: 'notoSansKR';
	src: url('../fonts/NotoKR-Light/notokr-light.eot'),
	url('../fonts/NotoKR-Light/notokr-light.woff2') format('woff2'), 
	url('../fonts/NotoKR-Light/notokr-light.woff') format('woff'), 
	url('../fonts/NotoKR-Light/notokr-light.ttf') format('truetype'), 
	url('../fonts/NotoKR-Light/notokr-light.svg#notokr-light') format('svg'); 
	font-weight: 200; 
	font-style: normal; 
}